[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
	branch = master
[submodule "clevisLib"]
	path = clevisLib
	url = https://github.com/nearedgelock/clevisLib.git
	branch = master
